* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color:transparent;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;


}
.logo{
    text-align: right;
}

.logo img{
    width: 130px;
    height: 70px;
}

@media(max-width: 769px){

    .header {
        position: right;
    }
}

@media(min-width: 1041px){
    .quadroAviso {
        width:50%;
    }

}

@media(min-width: 641px) and (max-width:1040px){

    .tituloMobile {
        width: 100% !important;
        padding-bottom: 25px !important;
        text-align: center;
    }

   

    .navMobile {
        flex-wrap: wrap !important;
        margin-bottom: 0px;
    }
}

@media(max-width: 640px){

    .tituloMobile {
        width: 100% !important;
        padding-bottom: 25px !important;
        text-align: center;
    }

    .navMobile {
        flex-wrap: wrap !important;
        margin-bottom: 0px;
    }

    .logout {
        width: 100% !important;
        text-align: center;
        margin-left: 0px;
    }

    .topbar{
        height: 13rem;
    }

    .quadroAviso {
        width:70%;
    }
}

@media(max-width: 360px){

    .logo {
        text-align: center !important;
    }

    .brasao{
        width: 295px;
        height: 32px;

    }


    .logo img{
        width: 86px;
        height: 48px;

    }


    .rodape{
		font-size: 0.8rem !important;
		color: rgb(121, 119, 119);
	}

}

